<!DOCTYPE html>
<html>
<head>
    <meta accept-charset="UTF-8">
</head>
<body>

#<form accept-charset="UTF-8" action="/" data-remote="true" method="post">
 # <input name="" type="" value="" />
  #First name: <input type="text" name="FirstName" value="Mickey"><br>
#Last name: <input type="text" name="LastName" value="Mouse"><br>
#<input type="submit" value="Submit">
#</form>

</body>
</html>
